.category-single-cards{
    padding-left: 50px;
}
.category-btns button{
    background-color: #FD7B2B;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    height: 36px;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
}
.category-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    padding-bottom: 30px;
}
.category-btns{
    padding-right: 10px;
}
.category-price p{
    font-size: 22px;
    font-family: "Poppins";
    font-weight: 600;
    color: #333333;
}
.category-price span{
    font-size: 13px;
    padding-left: 10px;
    color: red;
}