
.category-btns button{
    background-color: #FD7B2B;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    height: 36px;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
}
.category-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    padding-bottom: 30px;
}
.category-btns{
    padding-right: 10px;
}
.category-price p{
    font-size: 22px;
    font-family: "Poppins";
    font-weight: 600;
    color: #333333;
}
.category-price span{
    font-size: 13px;
    padding-left: 10px;
    color: red;
}
.category-single-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.pro-description{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pro-name{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pro-image{
    object-fit: cover;
}
.pro-card{
    box-shadow: rgba(9, 30, 78, 0.04) 0px 1px
}