.Nav{
    width: 100%;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}
.Logo a{
    text-decoration: none;
    color: #ff6a00;
    font-family: "poppins";
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navCart img{
    width: 30px;
}
.Profile img{
    width: 25px;
}

.dropDown button{
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    border: none;
}
.dropDownlist{
    width: 200px;
    display: none;
    border-radius: 20px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 300px;
    top: 60px;
}
.dropDownlist-items .drop-Down-items{
    list-style: none;
    display: inline-block;
    
}
.dropDownlist .dropDownlist-items .drop-Down-items{
    color: rgb(37, 37, 37);
    padding: 20px;
    display: block;
    text-align: left;
}
.dropDownlist .dropDownlist-items .drop-Down-items:hover{
    background-color: #ddd;
    cursor: pointer;
    
}
.dropDown:hover .dropDownlist{
    display: block;
  }

.rightNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    
}
.Profile{
    padding-left: 20px;
}
.Profile button{
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border: none;
}

.profileDropdown{
    display: block;
    /* padding: 20px; */
    max-width: 150px;
    border-radius: 10px;

}
.profile-list-items a{
    text-decoration: none;
    color: black;
    font-family: "Poppins";
    font-size: 18px;
}
.profile-list-items{
    padding: 15px;
}
.profileDropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 160px;
    top: 70px;
}


.Profile:hover .profileDropdown ,.Profile button span img{
    display: block;
    transform: .5s;
    
}
.Hamburger{
    display: block;
    padding-left: 20px;
}
.Hamburger button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.Hamburger img{
    width: 40px;
}
.navCart button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navCart .cart_counter{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    margin-top: -40px;
    margin-left: 15px;
    background-color: red;
    overflow: hidden;

}
.navCart .cart_counter p{
    margin-top: 2px;
    color: white;
}
.user_profile{
    width: 120px;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    overflow: hidden;
}
.user_profile img{
    border-radius: 30px;
    object-fit: cover;
    /* margin: 10px; */
}
.Profile span img{
    width: 18px;
}
.Profile span{
    padding-left: 8px;
    padding-right: 8px;
}
/* .Profile button span img:hover{
    transform: rotate(180deg);
} */
.nav-list-items a{
    text-decoration: none;
    color: rgb(27, 27, 27);
    transition: all 0.3s ease;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;  
}
.nav-list-items a:hover{
    color: #ff6a00;
    transition: .5s;
    font-weight: 600;

}
.nav-list-items{
    padding: 20px 40px;
}
.nav-list{
    width: 350px;
    list-style: none;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    position: absolute;
    float: right;
    text-align: start;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 4;
    box-sizing: border-box;
    transition: .5s ease;
}
.nav-list-items button{
    background-color: transparent;
    border: none;
    outline: none;
}
.menu-navbar{
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 6;
    
}

@media (max-width:720px) {
   
    .navList{
        display: none;
    }
    .navCart img{
        display: none;
    }
    .Profile img{
        display: none;
    }
    
}