.Nav{
    width: 100%;
    padding: 0px 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.Logo{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo img{
    width: 100%;
}
.navCart img{
    width: 38px;
}
.Profile img{
    width: 35px;
}
.navList ul{
    list-style: none;
    overflow: hidden;
}
.navList ul li{
    font-size: 15px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    display: inline-block;
    padding: 8px 20px 8px; 
}
.navList ul li a{
    text-decoration: none;
    color: black;
}

.dropDown button{
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    border: none;
}
.dropDownlist{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownlist ul li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropDownlist ul li:hover{
    background-color: #ddd;
}
.dropDown:hover .dropDownlist {
    display: block;
  }
.leftNav{
    display: flex;
}
.rightNav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.searchBar input{
    width: 250px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 30px;
    outline: none;

}
.searchBar button{
    padding: 11px 20px 11px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    background-color:#FD7B2B;
    color: white;
    transform: translateX(-40px);
}
.Profile button{
    background-color: transparent;
    border: none;
    padding-left: 20px;
}
.profileDropdown ul{
    list-style: none;
    overflow: hidden;
}
.profileDropdown ul li{
    display: block;

}
.profileDropdown ul li a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.profileDropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 20px;
}
.profileDropdown ul li{
    float: left;
    color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

.Profile:hover .profileDropdown{
    display: block;
}
.Hamburger{
    display: none;

}
.Hamburger img{
    width: 40px;
}
.navCart button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navCart .cart_counter{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    margin-top: -40px;
    margin-left: 22px;
    background-color: red;
    overflow: hidden;

}
.navCart .cart_counter p{
    margin-top: 2px;
    color: white;
}
.user_profile{
    width: 120px;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    overflow: hidden;
}
.user_profile img{
    border-radius: 30px;
    object-fit: cover;
    margin: 10px;
}
@media (max-width:720px) {
    .Hamburger{
        display: block;
    }
    .navList{
        display: none;
    }
    .navCart img{
        display: none;
    }
    .Profile img{
        display: none;
    }
    
}