.Nav{
    width: 100%;
    padding: 15px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.Logo{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo img{
    width: 100%;
}
.navCart img{
    width: 30px;
}
.Profile img{
    width: 25px;
}
.navList ul{
    list-style: none;
    overflow: hidden;
}


.dropDown button{
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    border: none;
}
.dropDownlist{
    width: 200px;
    display: none;
    border-radius: 20px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownlist-items .drop-Down-items{
    list-style: none;
    display: inline-block;
    
}
.dropDownlist .dropDownlist-items .drop-Down-items{
    color: rgb(37, 37, 37);
    padding: 20px;
    display: block;
    text-align: left;
}
.dropDownlist .dropDownlist-items .drop-Down-items:hover{
    background-color: #ddd;
    cursor: pointer;
    
}
.dropDown:hover .dropDownlist{
    display: block;
  }
.leftNav{
    display: flex;
}
.rightNav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.searchBar input{
    width: 550px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 30px;
    outline: none;

}
.searchBar button{
    padding: 11px 20px 11px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    background-color:#FD7B2B;
    color: white;
    transform: translateX(-40px);
}
.Profile button{
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border: none;
}
.profileDropdown ul{
    list-style: none;
    overflow: hidden;
}
.profileDropdown ul li{
    display: block;

}
.profileDropdown ul li{
    text-decoration: none;
    color: black;
}
.profileDropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 20px;
}
.profileDropdown ul li{
    float: left;
    color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

.Profile:hover .profileDropdown{
    display: block;
}
.Hamburger{
    display: none;

}
.Hamburger img{
    width: 40px;
}
.navCart button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navCart .cart_counter{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    margin-top: -40px;
    margin-left: 22px;
    background-color: red;
    overflow: hidden;

}
.navCart .cart_counter p{
    margin-top: 2px;
    color: white;
}
.user_profile{
    width: 120px;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    overflow: hidden;
}
.user_profile img{
    border-radius: 30px;
    object-fit: cover;
    /* margin: 10px; */
}
.Profile span img{
    width: 18px;
}
.Profile span{
    padding-left: 8px;
    padding-right: 8px;
}
.Profile button span img:hover{
    transform: rotate(180deg);
}

/* second nav */

.second-nav{
    width: 100%;
    margin-top: -20px;
}
.second-nav-list ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-nav-list ul li a{
    text-decoration: none;
    font-family: "poppins";
    font-weight: 500;
    font-size: 18px;
    color: rgb(50, 50, 50);
    padding: 20px;
}
@media (max-width:720px) {
    .Hamburger{
        display: block;
    }
    .navList{
        display: none;
    }
    .navCart img{
        display: none;
    }
    .Profile img{
        display: none;
    }
    
}