.product_cards{
    display: flex ;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px 120px;
    justify-content: center;
}
.product_card{
    width: 280px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 6px;
    position: relative;
    box-sizing: border-box;
}
.product_card_top{
    width: 260px;
    height: 250px;
    overflow: hidden;
    border-radius: 6px 0px 6px 0px;
    position: absolute;
    margin: 10px;
}
.product_card_top img{
    width: 100%;
    object-fit: fill;
}
.product_card_details{
    padding-top: 267px;
    padding-left: 20px;
    padding-right: 20px;
}
.product_name{
    height: 45px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
}
.product_name p{
    font-size: 16px;
    font-weight: 700;
    margin-top: -2px;
}

.product_review{
    display: flex;
    align-items: center;
    margin-top: -6px;
}
.review-count p{
    font-size: 13px;
    font-family: "Poppins"; 
    padding-left: 6px;
}
.product_description{
    height: 60px;
    width: 95%;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -20px;
}
.product_description p{
    width: 100%;
    height: 80px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    text-overflow: ellipsis;
    line-height: 22px;
}
.product_price{
    margin-top: -15px;
}
.product_price p{
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 700;
}
.product_price span{
    font-size: 12px;
    color: red;
    padding-left: 10px;
}
.product_cart_buy{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: -6px;

}
.product_addtocart button{
    height: 36px;
    width: 120px;
    background-color: #3A1300;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}
.product_buynow button{
    height: 36px;
    width: 120px;
    background-color: #FD7B2B;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    border: none;   
}
.product_buynow{
    padding-left: 10px;
}

.product_card_heading h1{
    font-family: "poppins";
    font-size: 30px;
    color: rgb(32, 32, 32);
    padding: 30px 120px;
}
.product_card {
    transition: transform 0.3s ease-in-out;
  }
  
  .product_card:hover {
    transform: scale(1.05);
  }